@font-face {
    font-family: 'HC Maru Gothic';
    src: url('https://raw.githubusercontent.com/popcorncolonel/jibun-no-fonto/master/HC-Maru-Gothic.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/popcorncolonel/jibun-no-fonto/master/HC-Maru-Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cinecaption';
    src: url('https://raw.githubusercontent.com/popcorncolonel/jibun-no-fonto/master/cinecaption.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/popcorncolonel/jibun-no-fonto/master/cinecaption.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hosofuwafont';
    src: url('https://raw.githubusercontent.com/popcorncolonel/jibun-no-fonto/master/Hosofuwafont.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/popcorncolonel/jibun-no-fonto/master/Hosofuwafont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MS Mincho';
    src: url('https://raw.githubusercontent.com/popcorncolonel/jibun-no-fonto/master/MS-Mincho.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/popcorncolonel/jibun-no-fonto/master/MS-Mincho.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Meiryo';
    src: url('https://raw.githubusercontent.com/popcorncolonel/jibun-no-fonto/master/Meiryo.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/popcorncolonel/jibun-no-fonto/master/Meiryo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chihaya_jyunregular';
    src: url('https://raw.githubusercontent.com/popcorncolonel/jibun-no-fonto/master/chihayajun-webfont.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/popcorncolonel/jibun-no-fonto/master/chihayajun-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

