* {
  font-family: 'Raleway', sans-serif;
  background-color:#3698D9;
  color:white;
}

.maintitle {
  text-align:center;
  text-decoration:none;
}

.maintitle:hover,
.mouseover,
a:hover{
  color:orange;
}

.importantlink {
  text-align:center;
}

.superbullet {
  font-size:1.5em;
}

