* {
  font-family: 'Raleway', sans-serif;
  background-color:#3698D9; /* EBCM&#0153; blue */
  color:white;
}

.maintitle {
  font-size:1.75em;
  text-align:center;
  text-decoration:none;
}

.maintitle:hover,
.mouseover,
a:hover {
  /* http://stackoverflow.com/a/4059565/3949309 */
  text-shadow: 1px 1px white, -1px -1px #333;
  color:orange;
  border-color:orange;
}

.mainlink {
    padding:10px;
  font-size: 2em;
  text-align: center;
}

.superbullet {
  margin-top:35px;
  /*font-weight:500;*/
  font-family: 'Arimo', sans-serif;
  font-size: 2em;
  list-style-type: none;
}

.biotext {
    text-align:left;
    width: 40%;
    margin-left: 30%;
}

.mainlist {
    margin-left: 10%;
    width:80%; /* to center it, should it wrap */
}

.backbutton {
    left: 25px;
    top: 40px;
    position: absolute;
    font-size:1.2em;
    padding:0px 5px;
}

/* class button, not for tag button! */
.button {
    -moz-border-radius: 7px; /* tweak tweak tweak */
    -webkit-border-radius: 7px; /* tweak tweak tweak */
    border-radius: 7px; /* tweak tweak tweak */
    border-style:ridge;
    border-width:4px;
    text-decoration:none; /* it's obvious enough that you're supposed to click it. */
}
.button:hover {
    /* http://stackoverflow.com/a/4059565/3949309 */
    text-shadow: 1px 1px white, -1px -1px #333;
    border-style:groove;
    color:orange;
    border-color:orange;
}

.smallerimg {
    width: 20%;
    display:block;
    margin: 0 auto; /* centers the img */
    border: 1px solid;
    border-color:#0088DD;
    box-shadow: 2px 2px 5px #333333;
    -mozborder-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

.wrapper {
    width:20%;
}

/* <thanks src="http://stackoverflow.com/a/11445533/3949309"> */
ul{
  margin-left:10px;
}
ul ul{
  margin-left:-10px;
}
ul ul ul{
  margin-left:-10px;
}
/* </thanks> */

/* <thanks src="http://stackoverflow.com/a/13694127/3949309"> */
.alignleft {
  float: left;
  margin-left:20%;
  text-align:left;
}
.aligncenter {
  float: left;
  text-align:center;
}
.alignright {
 float: left;
 margin-right:20%;
 text-align:right;
}
/* </thanks> */

